<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}{% endblock %}
</head>

<body>
    {% block body %} 
     {{ form_start(form) }}
     {{ form_widget(form.brochure) }} 
     {{ form_end(form) }} 
     
     {% endblock %} 
     {% block javascripts
    %}{% endblock %}
</body>

</html>